<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
              <i class="hamburger align-self-center"></i>
            </a>
      
            <div class="navbar-collapse collapse">
              <h1 class="nav-item ml-auto"> Hola {{identity.nombres}} </h1>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown ml-lg-2">
                  <a
                    class="nav-link dropdown-toggle position-relative"
                    href="#"
                    id="userDropdown"
                    data-toggle="dropdown"
                  >
                    <i class="align-middle fas fa-cog"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="userDropdown"
                  >
                    <a class="dropdown-item" href="#"
                      ><i class="align-middle mr-1 fas fa-fw fa-user"></i> View
                      Profile</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="align-middle mr-1 fas fa-fw fa-comments"></i>
                      Contacts</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="align-middle mr-1 fas fa-fw fa-chart-pie"></i>
                      Analytics</a
                    >
                    <a class="dropdown-item" href="#"
                      ><i class="align-middle mr-1 fas fa-fw fa-cogs"></i> Settings</a
                    >
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"
                      ><i
                        class="align-middle mr-1 fas fa-fw fa-arrow-alt-circle-right"
                      ></i>
                      Sign out</a
                    >
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                            Usuarios
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
                            <li class="breadcrumb-item" [routerLink]="['/usuarios']"  ><a>Usuarios</a></li>

                        </ol>
                    </nav>
                </div>
                <div class="row">
                    
                    <div class="col-12 col-lg-12"  *ngIf="success_message">
                        
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <div class="alert-message" >
                                {{success_message}}
                            </div>
    
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" [routerLink]="['/usuarios']" (click)="success_alert()">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12">
                        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Registro de usuarios</h5>
                                </div>
                                <div class="card-body">
                                   <div class="row">
                                       <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>
                                                <b>Nombres del usuario</b>
                                            </label>
                                            <input type="text" class="form-control" #nombres="ngModel" name="nombres" [(ngModel)]="user.nombres" placeholder="Nombre y apellido" required> 
                                        </div>
                                       </div>
                                       <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>
                                                <b>Correo del usuario</b>
                                            </label>
                                            <input type="email" class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email" placeholder="Correo del usuario" required>
                                        </div>
                                       </div>
                                       <div class="form-group">
                                        <label>
                                            <b>Contraseña del usuario</b>
                                        </label>
                                        <input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="user.password" placeholder="Contraseña del usuario" required>
                                    </div>
                                   </div>
                                   <div class="col-lg-4">
                                     <div class="form-group">
                                         <label>
                                              <b>Role del usuario</b> 
                                          </label>
                                         <select class="form-control" #role="ngModel" name="role" [(ngModel)]="user.role" required  >
                                              <option value="" disabled>Seleccionar</option>
                                               <option value="ADMIN">Administrador</option>
                                               <option value="SELLER">Vendedor</option>
                                           </select>
                                       </div>
                                   </div>
                                   
    
    
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success">Registrar usuario</button>
                                </div>
                            </div> 
                        </form>
                    </div>
                </div>



               
            </div>
        </main>
       
    </div>
</div>